<%- include("./partials/header") -%>
<div class="postPage">
	<h1><%= title %></h1>
	<p><%= content %></p>
	<a href="/posts/<%= id %>/edit"
		><button class="btn btn-warning">Edit</button></a
	>
	<a href="/posts/<%= id %>/delete"
		><button class="btn btn-danger">Delete</button></a
	>
</div>
<%- include("./partials/footer") -%>
